@media only screen and (max-width: 1800px) {body {background-size: 110%; background-position: center top 0px}}
@media only screen and (max-width: 1600px) {body {background-size: 120%; background-position: center top 0px}}
@media only screen and (max-width: 1400px) {body {background-size: 130%; background-position: center top 0px}}
@media only screen and (max-width: 1200px) {body {background-size: 140%; background-position: center top 0px}}
@media only screen and (max-width: 1000px) {body {background-size: 150%; background-position: center top 0px}}
@media only screen and (max-width: 800px) {body {background-size: 200%; background-position: center top 0px}}
@media only screen and (max-width: 600px) {body {background-size: 230%; background-position: center top 0px}}
@media only screen and (max-width: 400px) {body {background-size: 250%; background-position: center top 0px}}